*.iml
.idea/*

node_modules


# Distribution / packaging
.Python
*.pyc
__pycache__/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# doc shadows
~$*

# Serverless directories
.serverless

#office
~$*.ppt*
~$*.doc*
