# IDE
*.iml
**/.idea/*

**/.DS_Store

# Distribution / packaging
**/venv
.Python
*.pyc
__pycache__/
env/
build/
develop-eggs/
node_modules

# Serverless directories
.serverless

# Will be generated
**/assets/endpoint.js
